.card-container {
    display: flex;
    flex-direction: column; 
    overflow-y: auto; 
    padding: 1rem;
    gap: 1rem; 
    align-items: center;
}

.product-card {
    width: 100%; 
    max-width: 30rem; 
    border-radius: 0.5rem;
}


.btn-grp{
    display: flex;
    gap: 0.5rem;
}

.card-image {
    width: 100%;
    object-fit:cover; 

}

